/* General styles */
.grid {
    width: 960px;
    margin: 0 auto;
}
h2 {
    text-align: center;
}

/* Calendar */
.calendar {
    width: 100%;
    border: 1px solid black;
    overflow: auto;
}
.calendar .__last {
    border-right: none;
}
.calendar .dotw {
    width: 100%;
    border-bottom: 1px solid black;
}
.calendar .name-of-the-day {
    border-right: 1px solid black;
}
.calendar .days-wrapper {
    width: 100%;
}
.calendar .name-of-the-day,
.calendar .days-wrapper .day,
.calendar .days-wrapper .day-blank {
    width: 13%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}
.calendar .days-wrapper .day,
.calendar .days-wrapper .day-blank {
    height: 100px;
    border-radius: 0 0 10px 0;
}
.calendar .days-wrapper .day {
    background: #EEE1A4;
    border: 1px solid black;
}
.calendar .days-wrapper .day.__current {
    border: 1px solid red;
}
.calendar .days-wrapper .day .digit {
    display: block;
}
.pagination-wrapper {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.pagination-wrapper .prev {
    float: left;
}
.pagination-wrapper .next {
    float: right;
}

/* Form */
.form {
    width: 100%;
}
.form * {
    outline: none;
}
.form .fields-wrapper {
    margin-bottom: 20px;
}
.form .form-label {
    display: block;
    margin-bottom: 5px;
}
.form .form-field,
.form .form-textarea {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}
.form .form-textarea {
    height: 100px;
    resize: none;
}
.form .radio-wrapper {
    display: inline-block;
    width: 20%;
}
.form input[type="radio"] {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
}
.form select {
    padding: 5px;
    margin: 10px 10px 0 0;
}